* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tahoma', sans-serif;
    background-color: crimson;
    color: white;
    margin: 0;
}

#baner {
    text-align: center;
    height: 370px;
}

#main {
    background-color: whitesmoke;
    color: black;
    height: 50px;
    text-align: center;
    clear: both;
}

#left {
    width: 70%;
    height: 330px;
    float: left;
    background-color: whitesmoke;
    color: black;
}

#footer {
    width: 30%;
    height: 230px;
    float: left;
    background-color: whitesmoke;
    text-align: right;
    color: black;
}

h2.styl {
    letter-spacing: 7px;
    text-align: center;
    text-transform: capitalize;
}

.match {
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    text-align: center;
}

.match:hover {
    border-color: white;
}
