body {
    font-family: "Tahoma", sans-serif;
    color: white;
}

#gora, #matematyka, #naglowek, #dzialania, #tmnozenia {
    background-color: #983713;
    height: 100px;
}

#gora {
    width: 100%;
}

#matematyka, #dzialania, #tmnozenia {
    width: 17%;
    float: left;
}

#naglowek {
    width: 49%;
    text-align: center;
    float: left;
}

#srodek {}

#lewy {
    width: 80%;
    height: 500px;
    background-color: #FF7F50;
    float: left;
}

#prawy {
    width: 20%;
    height: 500px;
    background-color: #FF7F50;
    float: right;
}

footer {
    background-color: #983713;
    width: 100%;
    height: 50px;
    text-align: right;
    clear: both;
}
