* {
	box-sizing: border-box;
	margin: 0 auto;
}

body {
	margin: 0;
	font-family: "Garamond";
}

header, main {
	display: flex;
}

#h1, #h3, #h2 {
	background-color: rgb(95, 158, 160);
	color: yellow;
	height: 90px;
}

#h1, #h3 {
	width: 20%;
	text-align: right;
}

#h2 {
	width: 60%;
	text-align: center;
}

#lewy, #prawy {
	background-color: rgb(175, 238, 238);
	width: 50%;
	height: 250px;
}

article {
	background-color: rgb(95, 158, 160);
	padding: 30px;
}

footer {
	background-color: rgb(175, 238, 238);
	padding: 10px;
}

table {
	border: 2px dotted green;
	width: 100%;
	border-collapse: collapse;
}

td, th {
	border: 2px dotted green;
}

th {
	background-color: green;
	color: yellow;
}
