body{
    background-color: grey;
}

#main{
    width: 50%;
    height: 100vh;
    
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(139, 62, 65);
    text-align: center;
    border-radius: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#first{
    width: 100%;
    height: 255px;
    background-color: rgb(194, 194, 194);
}

#second{
    width: 100%;
    height: 450px;
    background-color: rgb(194, 194, 194);
}

footer{
    width: 100%;
    height: 60px;
    background-color: rgb(133, 33, 38);
    text-align: right;
    border-radius: 0px 0px 50px 50px;
   
}