* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4A460;
    color: white;
    margin: 0;
}

.main, .pobierz, footer {
    padding: 50px;
    background-color: #800000;
    text-transform: uppercase;
    clear: both;
}

#cookie, .s1, .s2 {
    float: left;
    text-align: center;
}

#cookie {
    width: 60%;
}

.s1 {
    width: 75%;
    height: 150px;
    font-size: 200%;
}

.s2 {
    width: 25%;
    height: 50px;
}

p {
    padding: 20px;
    font-size: 150%;
    border-radius: 2px;
    border: 1px dotted #AFAEAE;
}

p:hover {
    background-color: #AFAEAE;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid #AFAEAE;
    padding: 5px;
    border-radius: 1px;
}

footer {
    text-align: center;
    width: 100%;
    padding-top: 90px; 
    background-color: #800000;
}
